@each $color, $value in $theme-colors {
    $blackHover: rgba(63,63,63,0.15);
    $blackActive: rgba(63,63,63,0.3);

    .btn-#{$color} {
        @include button-variant(
            $value, // bg
            transparent, // border
            blend-colorburn($blackHover, $value),
            transparent,
            blend-colorburn($blackActive, $value),
            transparent
        );
    }

    .btn-outline-#{$color} {
        @include button-outline-variant(
            $value, // bg
            color-yiq($value) // border
        )
    }
}

.btn {
    &[disabled]:not(.btn-link), &.disabled:not(.btn-link) {
        background-color: #ebebeb !important;
        color: #d6d6d6 !important;
        border-color: #d6d6d6 !important;
    }

    &.btn-link {
        padding: $spacer;
        &[disabled], &.disabled {
            color: #d6d6d6;
            text-decoration: line-through;
        }
    }

    &-xs {
        @include button-size($spacer, $spacer * 2, 12px, 1, $border-radius);
    }
}