.custom-control {
    &.custom-checkbox, &.custom-radio {
        &::before {
            background-color: rgba($dark, 0);
            border-radius: $border-radius;
            content: '';
            // display: block;
            position: absolute;
            top: 0; //-$spacer;
            right: -$spacer;
            bottom: 0; // -$spacer;
            left: -$spacer;
            pointer-events: none;
        }

        &:hover::before {
            background-color: rgba($dark, 0.1);
        }
    }
}
