.b-form-datepicker {
    & > .btn {
        opacity: 0.5;
        padding-left: $spacer * 3;
        padding-right: $spacer * 3;
        transition: opacity .15s ease-in-out;
    }

    &:hover > .btn, & > .btn:hover {
        opacity: 1;
    }

    label.form-control {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap !important;
    }
}
