.hm-icon {
    display: inline-block;
    // fill: currentColor;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    width: auto;

    /* You would have to include the following two lines to make this work in Safari */
    //max-width: 100%;
    //max-height: 100%;
}

.uim-primary {
    opacity: 1;
}
.uim-secondary {
    opacity: 0.7;
}
.uim-tertiary {
    opacity: 0.5;
}
.uim-quaternary {
    opacity: 0.25;
}
.uim-quinary {
    opacity: 0;
}