fieldset[disabled] .multiselect{
    pointer-events: none;
}

.multiselect {
    box-sizing: border-box;
    border-radius: $select-border-radius;
    border: $select-tags-border;
    display: flex;
    width: 100%;
    position: relative;
    min-height: calc(1.5em + 0.75rem + 2px);
    text-align:left;
    color: $select-main-color;//#35495e;

    &__spinner{
        position: absolute;
        right: 0;
        top: 0;
        width: 70px;
        height: 100%;
        background: $white;
        display: block;
        z-index: 2;

        &:after,
        &:before{
            position: absolute;
            content: '';
            top: 50%;
            right: $select-spinner-right;
            margin: -8px 0 0 -8px;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            border: 2px solid transparent;
            border-top-color: $select-spinner-color;
            box-shadow: 0 0 0 1px transparent;
        }

        &:before{
            animation: spinning 2.4s cubic-bezier(.41,.26,.2,.62);
            animation-iteration-count: infinite;
        }
        &:after{
            animation: spinning 2.4s cubic-bezier(.51,.09,.21,.8);
            animation-iteration-count: infinite;
        }
    }

    &,
    &__input,
    &__single{
        font-family: inherit;
        font-size: $select-input-font-size;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
    }

    &__loading-enter-active,
    &__loading-leave-active{
        transition: opacity .4s ease-in-out;
        opacity: 1;
    }
    &__loading-enter,
    &__loading-leave-active{
        opacity: 0;
    }

    & *{
        box-sizing:border-box;
    }
    &:focus{
        outline:none;
    }
    &--disabled{
        background: #ededed;
        pointer-events: none;
        opacity: .6;
    }
    &--active{
        z-index: $select-wrapper-active-z-index;

        &:not(.multiselect--above) .multiselect__current,
        &:not(.multiselect--above) .multiselect__input,
        &:not(.multiselect--above) .multiselect__tags{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        & .multiselect__select{
            &:before {
                transform: rotate(180deg);
            }
        }

        & .multiselect__placeholder{
            display: none;
        }
    }
    
    &--above.multiselect--active .multiselect__current,
    &--above.multiselect--active .multiselect__input,
    &--above.multiselect--active .multiselect__tags{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &__input,
    &__single{
        position: relative;
        // display: inline-block;
        min-height: 20px;
        line-height: 20px;
        border: none;
        border-radius: $select-border-radius;
        background: $white;
        padding-left: $select-input-padding-left;
        width: 100%;
        transition: border .1s ease;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        // vertical-align: top;
    }

    &__input {
        &:-ms-input-placeholder{
            color: $select-input-color;
        }

        &,
        &::placeholder {
            color: $select-input-color;
        }
    }

    &__tag~.multiselect__input,
    &__tag~.multiselect__single{
        width: auto;
    }

    &__input:hover,
    &__single:hover{
        border-color: #cfcfcf;
    }

    &__input:focus,
    &__single:focus{
        border-color: #a8a8a8;
        outline: none;
    }

    &__single {
        padding-left: 5px;
    }

    &__tags {
        flex-grow: 1;
        min-height: 38px;
        display: block;
        overflow: hidden;
        padding: $select-tags-padding-y $select-tags-padding-x;
        background: $white;
        font-size: $select-tags-font-size;

        &-wrap{
            display: inline-flex;
            flex-wrap: wrap;
            width: 100%; // calc(100% - 40px);
            margin-top: -10px;

            &:not(:empty) ~ .multiselect__input {
                &::placeholder {
                    color: $select-input-placeholder-color;
                }
                font-size: 0.875em;
            }
        }
    }

    &__tag {
        position: relative;
        display: inline-block;
        padding: $select-tag-padding-y $select-tags-padding-x;
        padding-right: 22px;
        border-radius: $select-border-radius;
        margin-right: 10px;
        margin-top: 10px;
        color: $black;
        font-size: $select-tags-tag-font-size;
        line-height: 1;
        background: $select-tag-bg;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
        vertical-align: middle;

        &-icon{
            cursor: pointer;
            margin-left: 7px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            font-weight: 700;
            font-style: normal;
            width: 22px;
            text-align: center;
            line-height: 22px;
            transition: all .2s ease;
            border-radius: $select-border-radius;

            &:after{
                content: "\D7";
                color: $select-tag-icon-color;
                font-size: $select-tag-font-size;
            }

            &:focus,
            &:hover{
                color: $select-tag-icon-hover-color;
            }

            &:focus:after,
            &:hover:after{
                color: $select-tag-icon-hover-color;
            }
        }
    }

    &__current{
        min-height: 40px;
        overflow: hidden;
        padding: 8px 30px 0 12px;
        white-space: nowrap;
        border-radius: $select-border-radius;
        border: 1px solid #e8e8e8;
    }

    &__current,
    &__select{
        line-height: 16px;
        box-sizing: border-box;
        display: block;
        margin: 0;
        text-decoration: none;
        cursor: pointer;
    }

    &__select{
        align-self: stretch;
        align-items: center;
        flex-grow: 0;
        display: flex;
        justify-content: center;
        // position: absolute;
        width: 40px;
        // height: 100%;
        // right: 0;
        // top: 0;
        padding: $spacer $spacer * 2;
        position: relative;
        text-align: center;
        transition: transform .2s ease;

        &:before {
            // position: absolute;
            // right: calc(50% - 6px);
            // top: calc(50% - 6px);
            width: $spacer * 3;
            height: $spacer * 3;
            mask-image: $select-chevron-icon-url;
            background-color: $gray;
            color: #999;
            content: "";
            z-index: 1;
        }
    }

    &__placeholder{
        color: $select-input-placeholder-color;
        display: inline-block;
        line-height: 1;
        min-height: 20px;
        padding-left: $select-input-padding-left;
        // padding-top: 2px;
    }

    &__content {
        list-style: none;
        display: inline-block;
        overflow: hidden;
        padding: 0;
        margin: 0;
        width: 100%;
        vertical-align: top;
        padding: $spacer * 3 $spacer * 2;

        &-wrapper{
            position: absolute;
            display: block;
            background: $white;
            width: calc(100% + 2px);
            max-height: 240px;
            overflow: auto;
            border: 1px solid #e8e8e8;
            border-top: none;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            margin-left: -$border-width;
            margin-right: -$border-width;
            top: 100%;
            transform: translateY(1px);
            z-index: $select-options-z-index;
            -webkit-overflow-scrolling: touch;
        }
    }

    &--above {
        & .multiselect__content-wrapper{
            bottom: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-bottom: none;
            border-top: 1px solid #e8e8e8;
            top: auto;
            transform: translateY(-1px);
        }
    }

    &__content::webkit-scrollbar{
        display: none;
    }

    &__element{
        display: block;
        margin-bottom: 0em;
        margin-top: 0.5em;

        &:first-child {
            margin-top: 0;
        }
    }

    &__option{
        align-items: center;
        display: flex;
        padding: 12px;
        min-height: 40px;
        line-height: 16px;
        text-decoration: none;
        text-transform: none;
        vertical-align: middle;
        position: relative;
        cursor:pointer;
        // white-space: nowrap;
        border-radius: $select-border-radius;

        span {
            flex-grow: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:after{
            display: block;
            // top:0;
            // right:0;
            // position:absolute;
            // line-height:40px;
            // padding-right:12px;
            // padding-left:20px;
            // font-size:13px;
        }

        &--highlight{
            background: $select-tags-bg;
            outline: none;
            color: $white;


            &:after{
                content: '';
                background: $select-tags-bg;
                color: $white;
            }
        }

        &--selected{
            color: $select-selected-option-color;
            border-radius: $select-border-radius;
            position: relative;

            &:after{
                background-color: $select-selected-option-color;
                content: '';
                display: block;
                flex-grow: 0;
                height: 16px;
                mask: $select-checked-icon-url no-repeat 100% 50%;
                mask-size: contain;
                width: 16px;

                // position: absolute;
                // top: calc(50% - 6px);
                // width: 100%;
                // height: 12px;
                // right: $spacer * 2;
                // mask: $select-checked-icon-url no-repeat 100% 50%;
                // mask-size: contain;
                // background-color: $blue;
                // padding: 0;
            }

            &.multiselect__option--highlight{
                background: $select-tags-bg;
                color: $white;

                &:after{
                    background-color: $white;
                }
            }

            &--disabled {
                .multiselect__current,
                .multiselect__select{
                    background: #ededed;
                    color: #a6a6a6;
                }
            }
        }

        &--disabled{
            background: #ededed!important;
            color: #a6a6a6!important;
            cursor: text;
            pointer-events:none;

            &.multiselect__option--highlight{
                background: #dedede;
            }
        }

        &--group{
            background: #ededed;
            color: #35495e;

            &.multiselect__option--highlight{
                background: #35495e;
                color: #fff;

                &:after{
                    background:#35495e;
                }
            }

            &-selected.multiselect__option--highlight{
                background:#ff6a6a;
                color:#fff;

                &:after{
                    background:#ff6a6a;
                    content:attr(data-deselect);
                    color:#fff;
                }
            }
        }
    }

    &-enter-active,
    &-leave-active{
        transition:all .15s ease;
    }
    &-enter,
    &-leave-active{
        opacity:0;
    }
    &__strong{
        margin-bottom:8px;
        line-height:20px;
        display:inline-block;
        vertical-align:top;
    }

    &__clear {
        color: rgba($dark, 0.5);
        flex-grow: 0;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color .15s ease-in-out;
        width: 24px;
        &:focus {
            outline: none;
        }
        &:hover {
            color: rgba($dark, 1);
        }
    }
}

[dir=rtl] {
    .multiselect {
        text-align: right;

        &__select {
            right: auto;
            left: 1px;
        }
        &__tags {
            padding: 8px 8px 0 40px;
        }
        &__content {
            text-align: right;
        }
        &__option:after {
            right: auto;
            left: 0;
        }
        &__clear {
            right: auto;
            left: 12px;
        }
        &__spinner {
            right: auto;
            left: 1px;
        }
    }
}
@keyframes spinning{
    0% {
        transform:rotate(0);
    }
    to {
        transform:rotate(2turn);
    }
}
