@import '../functions.scss';

@function tableSortBackgroundImage($color) {
    @return url(svg-to-base64('<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.9394 6.43936L22.0607 8.56068L12 18.6213L1.93936 8.56068L4.06068 6.43936L12 14.3787L19.9394 6.43936Z" fill="#{$color}"/></svg>'));
}

.table {
    border-collapse: separate;
    border-spacing: 0 $spacer;
    thead > tr {
        background-color: $gray-100;
        th, td {
            background-image: none !important;
            border: none;
            color: $gray-500;
            font-size: 12px;
            font-weight: 400;
            padding-top: $spacer * 2;
            padding-bottom: $spacer * 2;
            white-space: nowrap;
            // vertical-align: middle;

            & > div:first-child {
                display: inline-block;
                line-height: 1;
            }

            &:focus {
                outline: none;
            }

            &[aria-sort] {
                transition: color .15s ease-in-out;
                & > div:first-child {
                    margin-right: $spacer;
                }
                // vertical-align: middle;
                &::after {
                    background-image: tableSortBackgroundImage($dark);
                    background-color: transparent;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: '';
                    display: inline-block;
                    height: 0.8em;
                    // margin-left: $spacer;
                    opacity: 0.5;
                    width: 1.5em;
                }
                &:hover {
                    color: $dark;
                }
            }

            &[aria-sort="ascending"], &[aria-sort="descending"] {
                color: $dark;
                &::after {
                    opacity: 1;
                }
            }

            &[aria-sort="ascending"]::after {
                transform: rotate(180deg);
            }
        }
    }
    tbody > tr {
        // border-bottom: 1px solid $gray-400;

        &:focus {
            outline: none;
        }

        &.selected, &[aria-selected=true] {
            background-color: rgba($blue, 0.1);

            &:hover {
                background-color: rgba($blue, 0.15);
            }
        }

        &.disabled {
            // background-color: $gray-100;
            & > td {
                opacity: 0.2;
                pointer-events: none;
            }
        }

        td {
            border-top: none;
            transition: background-color .15s ease-in-out;
            &:first-child {
                border-radius: $border-radius 0 0 $border-radius;
            }
            &:last-child {
                border-radius: 0 $border-radius $border-radius 0;
            }
        }

        &:hover {
            background-color: $gray-100;
        }
    }

    // @each $color, $value in $theme-colors {
    //     // $lightenedColor: 
    //     &.table-#{$color} {
    //         color: color-yiq($value);

    //         thead > tr {
    //             background-color: $value;

    //             & > td, & > th {
    //                 &[aria-sort]::after {
    //                     background-image: tableSortBackgroundImage(color-yiq($value));
    //                 }

    //                 &[aria-sort="ascending"], &[aria-sort="descending"] {
    //                     color: color-yiq($value);
    //                 }
    //             }
    //         }

    //         tbody > tr {
    //             &.disabled {
    //                 background-color: rgba(color-yiq($value), 0.1);
    //             }
    //         }
    //     }
    // }

    &.table-dark {
        color: $gray-400;
        thead > tr {
            background-color:lighten($dark, 5);

            & > td, & > th {
                color: $gray-600;
                &[aria-sort]::after {
                    background-image: tableSortBackgroundImage($white);
                }

                &[aria-sort]:hover {
                    color: $white;
                }

                &[aria-sort="ascending"], &[aria-sort="descending"] {
                    color: $white;
                }
            }
        }

        tbody > tr {
            &.disabled {
                background-color: rgba($white, 0.1);
            }
        }
    }
}
