

.nav {
    &-tabs {
        border: none;

        .nav-item {
            margin-bottom: 0 !important;

            .nav-link {
                border: none;
                position: relative;
                transition: color .2s ease-in-out;

                &:before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: $nav-tabs-border-width;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $nav-tabs-link-color;
                    transition: width .3s ease-in-out, background-color .3s ease-in-out;
                }

                &.active, &.router-link-active, &.router-link-exact-active {
                    // color: $black;
                    &:before {
                        width: 100%;
                        background-color: $nav-tabs-link-active-color;
                    }
                }
            }

            &.hover {
                .nav-link {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }

        .nav-link {
            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        &.nav-tabs:not(.flex-column) {
            height: 100%;

            .nav-link {
                margin-bottom: 0;
            }

            .nav-item, .navbar-text, .nav-link, .nav-text {
                display: flex;
            }

            .navbar-text {
                margin-bottom: 0;
            }

            .navbar-text, .nav-link {
                align-items: center;
            }
        }
    }

    &-link {
        color: $nav-tabs-link-color;

        &:hover {
            color: $nav-tabs-link-color;
        }

        &.active, &.router-link-active, &.router-link-exact-active {
            font-weight: 600;
        }
    }

    &-pills {
        .nav-link {
            border: none;
            padding: $nav-link-pills-padding-y $nav-link-pills-padding-x;

            & + & {
                margin-right: $spacer;
            }

            &:hover {
                border-color: transparent;
            }
        }
    }
}

