.hm-tip {
    &-inline {
        background-color: $tip-inline-bg;
        border-radius: $border-radius;
        cursor: default;
        display: inline-block;
        line-height: 1;
        padding: $tip-inline-padding-y $tip-inline-padding-x;
        transition: background-color .15s ease-in-out;

        &:hover {
            background-color: $tip-inline-hover-bg;
            outline: none;
        }
    }
    &-block {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    &-tooltip {
        padding: $tip-tooltip-padding-y $tip-tooltip-padding-x;
    }

    &-icon {
        font-size: $tip-block-icon-font-size;
        flex-shrink: 0;
        line-height: 1;
        margin-left: $spacer * 2;
        &:focus, &:active {
            outline: none;
        }
    }
}
