.hm-toaster {
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $toaster-z-index;

    &-place {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: fixed;

        @include media-breakpoint-up('xs') {
            width: 100%;
        }

        @include media-breakpoint-up('md') {
            width: 50%;
        }

        @include media-breakpoint-up('lg') {
            width: 33.33333%;
        }

        &-topleft, &-topcenter, &-topright {
            top: $toaster-top-margin;
        }

        &-bottomleft, &-bottomcenter, &-bottomright {
            bottom: $toaster-bottom-margin;
            /* flex-direction: column-reverse;

            .hm-ntf + .hm-ntf {
                margin-top: 0;
                margin-bottom: $notification-space-between;
            } */
        }

        &-topcenter, &-bottomcenter {
            align-items: center;
            left: 50%;
            transform: translateX(-50%);
        }

        &-topleft, &-bottom-left {
            align-items: flex-start;
            left: $toaster-left-margin;
        }

        &-topright, &-bottomright {
            align-items: flex-end;
            right: $toaster-right-margin;
        }
    }
}

@keyframes hm-ntf-progress {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}

.hm-ntf {
    background-color: #fff;
    border-radius: $notification-radius;
    box-shadow: $notification-shadow;
    overflow: hidden;
    max-width: $notification-max-width;
    width: 100%;

    & + .hm-ntf {
        margin-top: $notification-space-between;
    }

    &-heading {
        background-color: $gray-100;
        padding: $notification-title-padding-y $notification-title-padding-x;

        &-text {
            flex-grow: 1;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & > button {
            background-color: transparent;
            border: none;
            line-height: 1;
            margin-right: -$spacer;
            margin-left: $spacer;
            opacity: 0.5;
            padding: $spacer;
            transition: opacity .15s ease-in-out;
            &:hover, &:focus {
                opacity: 1;
            }
            &:focus:not(:focus-visible) {
                outline: none;
            }
        }
    }

    &-body {
        padding: $notification-body-padding-y $notification-body-padding-x;
        overflow-wrap: break-word;
    }

    &-progress-container {
        background-color:$gray-300;
        display: block;
        height: $notification-progress-height;
        position: relative;
    }

    &-progress-bar {
        background-color: $primary;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform-origin: 0 50%;
        transform: scaleX(1);
        width: 100%;

        &.hm-ntf-progress-bar-active {
            animation-name: hm-ntf-progress;
            animation-timing-function: linear;
        }
    }

    @each $color, $value in $theme-colors {
        &.hm-ntf-#{$color} {
            .hm-ntf-heading {
                background-color: rgba($value, 0.15);
                color: mix($value, $black); // color-yiq($value);

                button {
                    color: mix($value, $black);
                }
            }
            .hm-ntf-body {
                color: $gray-800;
                // background-color: rgba($value, 0.05);
            }
            .hm-ntf-progress-bar {
                background-color: $value;
            }
        }
    }
}
