.alert {
    color: $black;
    background-color: $white;

    &-round {
        width: 48px;
        height: 48px;

        & .unicon svg {
            width: 1.5em;
            height: 1.5em;
        }
    }

    @each $color, $value in $theme-colors {
        &.alert-#{$color} .alert-round {
            background-color: rgba($value, 0.5);
            fill: $value;
        }
    }

    button.close:focus {
        opacity: .75;
        outline: none;
    }
}
