.badge {
    padding: 0.3125rem;
    color: $white;

    &-pill {
        padding: 0.3125rem 0.5rem;
    }

    &-default {
        background-color: $gray;
    }
    &-primary {
        background-color: $black;
    }
    &-success {
        background-color: $green;
    }
    &-info {
        background-color: $blue;
    }
    &-extra {
        background-color: $yellow;
    }
    &-danger {
        background-color: $red;
    }
}