.b-calendar {
    &-btn {
        padding: $spacer * 2;

        div {
            color: $gray-500;
        }

        &:hover {
            div {
                color: $gray-700;
            }
        }
    }
    &-grid-body {
        @each $color, $value in $theme-colors {

            &.btn-#{$color},
            &.btn-outline-#{$color} {
                color: $value;
            }
        }
    }
    &:focus {
        outline: none;
    }
    &-grid {
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    &-header {
        output {
            border-bottom: none;
            border-radius: 0;
            &:nth-child(2) {
                border-left: 0;
            }
        }
    }
    &-selected-bg {
        background-color: $calendar-range-selected-bg !important;
        border-radius: 0 !important;
    }
    &-date {
        border-radius: $radius;
    }
    &-grid-weekdays {
        padding: $calendar-grid-weekdays-padding-x $calendar-grid-weekdays-padding-y;
        small {
            max-width: $spacer * 8;
            font-size: $calendar-grid-font-size-numbers!important;
            color: $gray-600;
        }
    }
    &-grid-body {
        padding: $calendar-grid-body-padding-x $calendar-grid-body-padding-y;
        margin: 0 auto;

        &-item {
            max-width: $spacer * 8;
        }

        .col[data-date] {
            .btn {
                font-size: $calendar-grid-font-size-numbers !important;
            }
        }

        .row.no-gutters {
            margin-bottom: $spacer;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-inner {
        min-width: auto !important;
    }
}

.b-form-datepicker {
    box-sizing: border-box;

    &.focus,
    &:focus {
        box-shadow: none;
    }

    label {
        min-height: auto!important;
        height: calc(1.5em + 0.75rem + 2px)!important;
    }

    button {
        padding-top: 0;
        padding-bottom: 0;
    }
}
