.custom-checkbox {
    display: table;
    padding-left: 1.75em;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
    border-radius: 0.25rem;

    &__slot {
        padding-right: 0.175em;
    }
    .custom-control-input {
        width: 1.75em;
        height: 1.5rem;
        &:focus + .custom-control-label:before {
            border-color: $dark;
            box-shadow: none;
        }
        &:indeterminate ~ .custom-control-label:before,
        &:checked ~ .custom-control-label:before {
            color: $white;
            border-color: $dark;
            background-color: $dark;
        }
        &:checked ~ .custom-control-label:after {
            background-image: url('../assets/icons/check.svg');
            background-size: 65% auto;
            background-position: 50% 40%;
        }

        &:disabled:checked ~ .custom-control-label:before {
            color: $gray-700;
            border-color: $gray-400;
            background-color: $gray-400;
        }

        &:disabled:checked ~ .custom-control-label:after {
            color: $gray-700;
        }
    }
    &:hover {
        background-color: $gray-300;
    }
    .custom-control-label {
        &:before {
            transition: background-color 0.2s ease-in, border-color 0.2s ease-in, box-shadow 0.2s ease-in;
        }
        &:after {
            background-position: 49% 40%;
        }
    }
}
