.custom-checkbox {
    display: inline-flex;
    border-radius: 0.125rem;

    .custom-control-input {
        width: 1.5rem;
        height: 1.5rem;
        &:focus + .custom-control-label:before {
            border-color: $dark;
            box-shadow: none;
        }
        &:indeterminate ~ .custom-control-label:before,
        &:checked ~ .custom-control-label:before {
            color: $white;
            border-color: $dark;
            background-color: $dark;
        }
        &:checked ~ .custom-control-label:after {
            background-image: url('../assets/icons/check.svg');
            background-size: 85% auto;
        }

        &:disabled:checked ~ .custom-control-label:before {
            color: $gray-700;
            border-color: $gray-400;
            background-color: $gray-400;
        }

        &:disabled:checked ~ .custom-control-label:after {
            color: $gray-700;
        }
    }
    &:hover {
        background-color: $gray-300;
    }
    .custom-control-label {
        padding-right: 0.25rem;
        padding-left: 0.125rem;
        font-size: 0.875em;
        line-height: 1.5rem;
        &:empty {
            padding-right: 0;
            padding-left: 0;
        }
        &:before,
        &:after {
            border-radius: 0.125rem;
            top: 0.35rem;
            left: -1.15rem;
            width: 0.8rem;
            height: 0.8rem;
        }
        &:after {
            border: 1px solid transparent;
        }
        &:before {
            transition: background-color 0.2s ease-in, border-color 0.2s ease-in, box-shadow 0.2s ease-in;
        }
    }
}
