.form-control-wrap {
    align-items: stretch;
    border: 1px solid $gray-400;
    border-radius: $radius;
    box-sizing: border-box;
    display: flex;
    position: relative;
    transition: border-color .15s ease-in-out;

    &.focused {
        border-color: $blue;
    }

    .form-control {
        border: none;
        border-radius: $radius 0 0 $radius;
        order: 2;
        flex-grow: 1;
        &:focus {
            border: none;
        }
    }

    .prepend-container {
        align-items: center;
        display: flex;
        order: 1;
        position: relative;
    }

    // we expect that input or any input-component (text-like inputs)
    // are fill whole space, so we make label absolute and centered vertically
    label {
        background-color: rgba($white,0);
        border-radius: $radius;
        color: $input-placeholder-color;
        display: block;
        left: calc(100% + (#{$spacer * 3}));
        // line-height: 0.75;
        margin-bottom: 0;
        // padding: 2px 4px;
        position: absolute;
        //TODO: left: position
        top: 50%;
        transform-origin: 0 0;
        transform: translateY(-50%);
        transition-property: transform, background-color, top, left;
        transition-duration: .15s;
        transition-timing-function: ease-in-out;
        pointer-events: none;
        user-select: none;
        white-space: nowrap;
        z-index: 1;
    }

    .label-bg {
        background-color: transparent;
        font-size: 0.75em;
        height: 1px;
        color: transparent;
        left: $spacer * 2;
        user-select: none;
        padding: 0 $spacer;
        pointer-events: none;
        position: absolute;
        top: -$border-width;
        transition-property: color, background-color;
        transition-duration: .15s;
        transition-timing-function: ease-in-out;
        white-space: nowrap;
    }

    /* TODO: doesn't work currently
       chromium have a bug which prevents to style background color
    input:-webkit-autofill {
        background-color: lighten($blue, 20);
    } */

    input:-webkit-autofill,
    input:focus,
    input:not(.empty),
    input.focus {
        & + .prepend-container > .label {
            & > label {
                background-color: transparent;
                left: $spacer * 3;
                top: -$border-width;
                text-shadow: 0 0 1px $white;
                transform: scale(0.75) translateY(-50%);

                & + .label-bg {
                    background-color: rgba($white, 1);
                }
            }
        }
    }

    input:-webkit-autofill,
    input:not(.empty) {
        & + .prepend-container > .label > label {
            color: $gray-500;
        }
    }

    input:focus,
    input.focus {
        & + .prepend-container > .label > label {
            color: $blue;
        }
    }


    .form-control-extra {
        background-color: rgba($white, 0.75);
        align-items: center;
        display: flex;
        order: 3;
        // font-size: 0.85em;

        &-append, &-prepend {
            display: flex;
            align-items: center;
            padding-right: $spacer * 2;
            padding-left: $spacer * 3;
        }

        &-prepend {
            align-self: stretch;
        }

        &-append {
            & + .form-control-extra-buttons {
                border-left: 1px solid $gray-400;
            }
        }

        &-buttons {
            display: flex;
            align-items: center;
            padding: 0 $spacer * 2;

            & > .extra-control {
                opacity: 0.5;
                line-height: 0;
                transition: opacity .1s ease-in-out;

                &:hover {
                    opacity: 1;
                }

                & + .extra-control {
                    margin-left: $spacer;
                }
            }
        }
    }
}
