.input-group {
    .form-control-wrap {
        flex-grow: 1;
    }

    .form-control-wrap:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .form-control-wrap:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .form-control-wrap + .btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}
