
.custom-radio {
    // display: inline-block;

    .custom-control-input:focus~.custom-control-label:before,
    &__focus .custom-control-label:before {
        border-color: $black;
        box-shadow: none;
    }

    .custom-control-input:focus:checked ~ .custom-control-label:after {
        border: 1px solid $blue;
    }

    .custom-control-input {
        width: 100%;
        height: 100%;

        &:checked ~ .custom-control-label::before {
            background-color: $white;
            border-color: $black;
            border-width: 4.5px;
        }

        &:checked:disabled ~ .custom-control-label::before {
            background-color: $gray-400;
            border-color: $gray-600;
            border-width: 4.5px;
        }
    }

    &:hover .custom-control-input:not(:disabled)~.custom-control-label,
    &__hover .custom-control-input:not(:disabled) ~ .custom-control-label {
        background-color: $gray-300;
    }

    .custom-control-label {
        padding-right: 0.25rem;
        padding-left: 1.625rem;
        margin-left: -1.5rem;
        font-size: 0.875em;
        line-height: 1.5rem;
        border-radius: $radius;
        min-height: 1.5rem;

        &:empty {
            padding-right: 0;
        }
        &:before,
        &:after {
            top: 0.35rem;
            left: 0.35rem;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 0.75rem;
        }

        &:before {
            transition: background-color 0.2s ease-in, border-color 0.2s ease-in, box-shadow 0.2s ease-in;
        }

        &:after {
            background-image: none !important;
        }
    }
}
