/* $themeColor: $primary;
$bgColor: $gray-400;



@import '~vue-slider-component/lib/theme/default.scss';

// Overrides
.vue-slider-dot {
    @at-root &-handle {
        border: 2px solid $themeColor;
    }
} */


.vue-slider {
    padding: $rangeslider-padding-y $rangeslider-padding-x;
    width: $rangeslider-width;
    height: $rangeslider-height;

    &-disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &-rail {
        background-color: $rangeslider-unfill-bg;
    }

    &-process {
        background-color: $rangeslider-fill-bg;
    }

    &-mark {
        z-index: 4;

        &:first-child .vue-slider-mark-step,
        &:last-child .vue-slider-mark-step {
            display: none;
        }

        &-mark:first-child .vue-slider-mark-step,
        &-mark:last-child .vue-slider-mark-step {
            display: none;
        }

        &-label {
            color: $rangeslider-mark-color;
            font-size: $rangeslider-mark-fontsize;
            margin-top: $rangeslider-mark-margin-top !important;
            white-space: nowrap;
        }

        &-step {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgba($black, 0.16);
        }
    }

    &-dot {
        width: $rangeslider-dot-width;
        height: $rangeslider-dot-height;
        transform: translate(-50%, -50%);
        left: 0;
        top: 50%;

        &-handle {
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $rangeslider-dot-bg;
            box-sizing: border-box;
            border: $spacer/2 solid $rangeslider-fill-bg;

            &-focus {
                box-shadow: $rangeslider-dot-handle-focus-border-radius;
            }

            &-disabled {
                cursor: not-allowed;
                background-color: $rangeslider-unfill-bg;
            }
        }

        &-tooltip {
            &-inner {
                font-size: $fontSize;
                line-height: $spacer * 5;
                white-space: nowrap;
                min-width: $spacer * 5;
                text-align: center;
                background-color: $rangeslider-tooltip-bg;
                color: $rangeslider-tooltip-color;
                box-sizing: content-box;

                &-top {
                    &:after {
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%, 0);
                        height: 0;
                        width: 0;
                        border-color: transparent;
                        border-style: solid;
                        border-width: $spacer;
                        border-top-color: inherit;
                    }
                }

                &-bottom {
                    &:after {
                        bottom: 100%;
                        left: 50%;
                        transform: translate(-50%, 0);
                        height: 0;
                        width: 0;
                        border-color: transparent;
                        border-style: solid;
                        border-width: $spacer;
                        border-bottom-color: inherit;
                    }
                }

                &-left {
                    &:after {
                        left: 100%;
                        top: 50%;
                        transform: translate(0, -50%);
                        height: 0;
                        width: 0;
                        border-color: transparent;
                        border-style: solid;
                        border-width: 5px;
                        border-left-color: inherit;
                    }
                }

                &-right {
                    &:after {
                        right: 100%;
                        top: 50%;
                        transform: translate(0, -50%);
                        height: 0;
                        width: 0;
                        border-color: transparent;
                        border-style: solid;
                        border-width: 5px;
                        border-right-color: inherit;
                    }
                }
            }

            &-wrapper {
                opacity: 0;
                transition: all 0.3s;

                &-show {
                    opacity: 1;
                }
            }

            &-bottom {
                bottom: $rangeslider-tooltip-offset-bottom !important;
            }

            &-top {
                top: $rangeslider-tooltip-offset-top !important;
            }
        }
    }
}
