.custom-switch {
    &:hover .custom-control-label:before {
        border-color: lighten($yellow, 30);
        background-color: lighten($yellow, 30);
    }

    .custom-control-input {
        &:checked~.custom-control-label:before {
            border-color: $yellow;
            background-color: $yellow;
        }

        &:focus~.custom-control-label:before {
            box-shadow: none;
            border-color: $black;
        }

        &:disabled~.custom-control-label:before,
        &:checked:disabled~.custom-control-label:before {
            background-color: $gray-400;
            border-color: $gray-400;
        }

        &:disabled~.custom-control-label:after {
            background-color: $gray-500;
        }
    }

    .custom-control-label {
        padding-left: 0.2em;

        &:empty {
            padding-left: 0;
        }
        &:before {
            background-color: $gray-500;
            border-color: $gray-500;
        }

        &:after {
            background-color: $white;
            transition: transform 0.2s ease-in, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        }

        &:after {
            background-color: $white;
        }
    }
}
