.custom-switch {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;

    .custom-control-input {
        height: 1.5rem;

        &:checked~.custom-control-label:before {
            border-color: $yellow;
            background-color: $yellow;
        }
        &:checked ~ .custom-control-label::after {
            transform: translateY(-50%) translateX(0.75rem);
        }

        &:disabled ~ .custom-control-label:before,
        &:checked:disabled ~ .custom-control-label:before {
            background-color: $gray-400;
            border-color: $gray-400;
        }

        &:disabled~.custom-control-label:after {
            background-color: $gray-500;
        }

        &:focus + .custom-control-label:before{
            box-shadow: none;
            border-color: $black;
        }
    }

    .custom-control-label {
        padding-left: 0.2em;
        font-size: 0.875em;

        &:empty {
            padding-left: 0;
        }
        &:before {
            background-color: $gray-500;
            border-color: $gray-500;
        }

        &:after {
            background-color: $white;
            transition: transform 0.2s ease-in, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        }

        &:before,
        &:after {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__focus .custom-control-label:before {
        box-shadow: none;
        border-color: $black;
    }

    &:hover .custom-control-label:before,
    &__hover .custom-control-label:before {
        border-color: lighten($yellow, 30);
        background-color: lighten($yellow, 30);
    }
}
