// Avatar
$hm-avatar-sizes: (
    xs: $spacer * 6,
    sm: $spacer * 9,
    md: $spacer * 12,
    lg: $spacer * 16,
    xl: $spacer * 24,
    xxl: $spacer * 32
);

// HR
$hr-border-color-inverted: rgba($white, 0.3);

